---
title: "Garth Dew"
layout: post.njk
---

Welcome to my site.

<h2>Recent Posts</h2>

<ul>
  <li>
    <a href="/blog/blog1/">How I Built My Personal Site</a>
    <small>(May 1, 2025)</small>
  </li>
  <li>
    <a href="/blog/blog2/">Why I Chose Eleventy Over WordPress</a>
    <small>(May 2, 2025)</small>
  </li>
</ul>
