---
title: "Garth Dew"
layout: post.njk
---
<h2>About</h2>

Garth Dew is a creative human being.

<h2>Unique Offerings</h2>

Welcome to my site.

<h2>Now</h2>

See what I'm doing now.

<h2>Essays</h2>

<ul>
  <li>
    <a href="/blog/blog1/">How I Built My Personal Site</a>
    <small>(May 1, 2025)</small>
  </li>
  <li>
    <a href="/blog/blog2/">Why I Chose Eleventy Over WordPress</a>
    <small>(May 2, 2025)</small>
  </li>
  <li>
    <a href="/blog/blog3/">Hello</a>
    <small>(May 2, 2025)</small>
  </li>
</ul>
