<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet" />

  <style>
   body {
  background-color: #ffffff;
  color: #1c1c1c;
  font-family: 'EB Garamond', serif;
  max-width: 650px;
  margin: 2rem auto;
  line-height: 1.6;
  padding: 0 1rem;
  font-size: 1.2rem;
}

a {
  color: #534f4c;
  text-decoration: underline;
  text-decoration-color: lightgray;
  background-color: transparent;
  transition: background-color 0.2s ease, text-decoration-color 0.2s ease;
}

a:hover {
  background-color: #fff9c4;       /* soft yellow */
  text-decoration-color: #f4c430;  /* warm golden underline */
}



    h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    h2 {
      margin-top: 2rem;
      font-size: 1.5rem;
    }

    ul {
      padding-left: 1.2rem;
    }
  </style>
</head>
<body>
  <main>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>
</body>
</html>
